table{
	border-collapse: collapse; 
}
/* Zebra striping */
table tr:nth-child(odd) { 
	background: #eee; 
}
table tr th { 
	background: #333; 
	color: white;
}
table tr td, table tr th{
	border: 1px solid #ccc;
	padding: 6px 20px 6px 6px;
	/* padding: 6px 0;
	padding-right: 20px;  
	padding-left: 6px; */
}
table td:empty{
	background: gray;	
}
article ul li:not(.elelegido){
	border: 1px solid black;
	background: red;
}